@import "@folio/stripes-components/lib/variables.css";

.labelRow {
  margin-bottom: 0.25rem;
}

.label {
  font-size: var(--font-size-small);
  line-height: var(--line-height);
  margin-bottom: 0;
}
