{
  "parser": "babel-eslint",
  "extends": "@folio/eslint-config-stripes",
  "rules": {
    "import/prefer-default-export": 0,
    "react/prop-types": [2, { "ignore": ["children"] }]
  },
  "env": {
    "jest": true
  }
}
