@import "@folio/stripes-components/lib/variables.css";

.primaryToggle {
  padding: 4px 8px;
  color: #555;
  font-size: var(--font-size-medium);
  cursor: pointer;
  margin-bottom: 0;

  & input[type="radio"] {
    margin: 0 4px;
    vertical-align: text-top;
  }
}

.label {
  font-size: var(--font-size-small);
  line-height: var(--line-height);
  color: var(--color-text);

  &.required::after {
    content: '(required)';
    margin: 0 4px;
    color: #666;
  }
}

.asterisk {
  color: var(--error);
  font-weight: var(--text-weight-bold);
  padding: 0 0.1rem;
}

.fieldsLayout {
  margin-top: 1.6rem;
  margin-bottom: calc(var(--gutter-static) * -2);
}

.selectLayout {
  min-width: 200px;
}

.selectField {
  min-width: 180px;
}

.radioButtonLayout {
  min-width: 50px;
  align-self: flex-start;
  padding-top: 7px;
}

.servicePointsLabel {
  min-width: 200px;
}

.primaryLabel {
  min-width: 50px;
}

.emptyMessage {
  color: var(--error);
}
